mesogeos_dataset/*.pkl filter=lfs diff=lfs merge=lfs -text
datasets/mesogeos_dataset/*.csv filter=lfs diff=lfs merge=lfs -text
datasets/mesogeos/mesogeos_swdf.csv filter=lfs diff=lfs merge=lfs -text
datasets/mesogeos/mesogeos_swdf_features.pkl filter=lfs diff=lfs merge=lfs -text
datasets/wikiart_seq2rank/wikiart_seq2rank_features_resnet34.pkl filter=lfs diff=lfs merge=lfs -text
